@import (less) "fonts.css"; // /*
//  * Media queries
//  */
// @mobile: ~"(max-width: 910px)";
// @mobile-above: ~"(min-width: 911px)"; // @tablet: ~"(max-width: 768px)";
/*
 * Fonts
 */
@sans: 'Sharp Grotesk', Helvetica, sans-serif;
@serif: 'Georgia', serif;
@mono: 'Courier', monospace;

.boldface() {
  font-family: @sans;
  font-weight: 900;
}

.boldface-ital() {
  font-family: @sans;
  font-weight: 900;
  font-style: italic;
}

.medface() {
  font-family: @sans;
  font-weight: 700;
}

.medface-ital() {
  font-family: @sans;
  font-weight: 700;
  font-style: italic;
}

.bookface() {
  font-family: @sans;
  font-weight: 400;
}

.ital() {
  font-family: @sans;
  font-weight: 400;
  font-style: italic;
}

.lightface() {
  font-family: @sans;
  font-weight: 200;
}

.lightface-ital() {
  font-family: @sans;
  font-weight: 200;
  font-style: italic;
}
/*
 * Colors
 */
@city-white: #ebebeb;
@city-grey: #8c8c8c;
@city-black: #111111;
@city-orange: #FA7416;
@city-purple: #A9328A;
@city-green: #36C269;
@city-blue: #0C71FA;
@city-gold: #FCC32C;
@city-politics-red: #D02D3C;
@city-politics-blue: #214DA5;
